.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  background-color: #222;
  color: #fff;
  margin: 0 20px;
}

.card-title {
  color: #17a2b8;
  font-size: 24px;
}

.card-text {
  font-size: 16px;
}
